/* MAIN STYLES */

body {
    color: #d41c84;
    background-color: #2f2f2f;
    font-family: 'Raleway', sans-serif;
}




/* NAVIGATION */



#navBar a {
    color: #d41c84;
    font-family: 'Source Code Pro', monospace;
}
#navBar {
    background-color: #2f2f2f;
    
}

.navbar-nav {
    margin-left: 77%;



}





/* LANDING PAGE */
/* .landing h5, .landing p {} */

.landing h5 {
    padding-top: 15%;
    text-align: center;
    font-size: 50px;
    
}

.landing p {
    text-transform: uppercase;
    text-align: center;
}
.landing img {
    height: 46em;
}

.landing {
    margin-bottom: 3%;
}









/* PORTFOLIO */

#portfolioSection h3 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
}
#portfolioSection h5{
    font-weight: 600;
}

.card {
    background-color: darkgrey;
}
#portfolioSection img {
    height: 350px;

}




/* ABOUT ME */

#aboutMeSection {
    margin-top: 100px;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

#aboutMeSection h3 {
    text-align: Center;
    margin-bottom: 2%;
    font-weight: 600;
}

#aboutMeSection h5 {
    font-weight: 600;
}

#aboutMeSection img {
    width: 300px;
    height: 300px;
}

.aboutLeft {
    width: 200px;
    /* margin-right: 10px; */
    /* grid-column-start: 1; */
   margin-left: 55%;
}

.aboutRight {
 width: 300px;
 margin: 0;
 /* grid-column-start: 2; */
}

/* CONTACT */

#contactSection {
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
}

#contactSection h3 {
    text-align: center;
}



/* FOOTER */
#footerSection {
    margin-top: 70px;
}

#footerSection p {
    text-align: center;
}

#footerSection a {
    text-decoration: none;
    color: #d41c84;
}

.nav-item {
    margin-bottom: 2%;
}

.copyrightInfo {
    list-style: none;
    display: inline-block;
    margin-right: 3%;
    text-align: center;
    margin-left: 23%;
}
